.root {
    height: calc(100vh - 60px);
    display: flex;
}

.image {
    flex-grow: 1;
    padding-top: 40px;
    padding-bottom: 5px;
    width: 100%;
    @apply bottom-0 flex self-end xs:h-full;
}

.hello {
    @apply 2xs:hidden;
}