.root {
    @apply grid grid-cols-3;

    position: absolute;
    top: 0;
    width: 100%;
    /* justify-content: space-between; */
}

.back {
    text-align: left;
}

.title {
    text-align: center;

}

.next {
    text-align: right;
}