.root {
}
.character {
  height: 122px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  top: -220px;
}

.anotherCharacter {
  left: -94px;
  transform: rotate(-12deg);
  top: -210px;
}

/* 
body {
  background: #368dda;
} */



.asd {
  shape-outside: ellipse(100px 200px at 50% 50%);
  width: 150px;
  height: 100px;
  float: left;
  opacity: 0.2;
}

.text {
  position: relative;
}
