.root {
  /* position: relative; */
}
.character {
  height: 122px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  top: -220px;
  @apply h-[100px] -top-[56vw] 2xs:h-[100px] 2xs:-top-[46vw] xs:-top-[44vw] sm:h-[150px] sm:-top-[44vw] md:h-[200px]  md:-top-[46vw] lg:h-[250px] lg:-top-[46vw] xl:h-[250px] xl:-top-[42vw] 2xl:h-[300px] 2xl:-top-[39vw];
}

.anotherCharacter {
  @apply -left-[76px] sm:-left-[120px] md:-left-[155px] lg:-left-[192px] xl:-left-[220px];
  transform: rotate(-12deg);
  @apply -top-[53vw] 2xs:-top-[45vw] xs:-top-[43vw] sm:-top-[43vw] md:-top-[44vw] lg:-top-[45vw] xl:-top-[41vw] 2xl:-top-[38vw];
}

/* 
body {
  background: #368dda;
} */



.asd {
  shape-outside: ellipse(100px 200px at 50% 50%);
  width: 150px;
  height: 100px;
  float: left;
  opacity: 0.2;
}

.text {
  position: relative;
}
