.root {
    padding-right: 20px;
    align-self: center;
}

.select {
    background: none;
    /* font-size: 24px; */
    text-transform: uppercase;
    @apply text-sm sm:text-2xl;
}

.option {
    /* font-size: 20px; */
    @apply text-sm sm:text-xl;
}